{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href={% static '/styles/style.css' %} />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<title>Landing Page Rossum</title>
	</head>
	<body>
		<header>
			<a href="" class="brand"><img src={% static '/images/logo.png' %} alt="logo" /></a>
			<div class="menu-btn"></div>

			<div class="navigation">
				<div class="navigation-items">
					<a href="#">Home</a>
					<a href="#">History</a>
					<a href="#">Program</a>
					<a href="#">About</a>
				</div>
			</div>
		</header>

		<section class="home">
			<video class="video-slide active" src= {% static '/videos/1.mp4' %} autoplay muted loop></video>
			<video class="video-slide" src= {% static '/videos/2.mp4' %} autoplay muted loop></video>
			<!-- <video class="video-slide" src= {% static '/videos/3.mp4' %} autoplay muted loop></video> -->
			<video class="video-slide" src= {% static '/videos/4.mp4' %} autoplay muted loop></video>
			<video class="video-slide" src= {% static '/videos/5.mp4' %} autoplay muted loop></video>

			<div class="content active">
				<h1>Rossum.pyc<br /><span>Computer OS</span></h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit distinctio dolores expedita numquam culpa! Sunt, ipsum provident repellendus dolore unde veniam vitae enim ea voluptatum. Nemo iure blanditiis tenetur facilis.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit doloribus beatae voluptas nulla sed. Possimus reiciendis cupiditate temporibus voluptates ut minima veniam vero sunt sapiente, soluta exercitationem natus suscipit sed. 
				</p>
				<button class="learn-more" onclick="window.location.href='https://www.freecodecamp.org/'">
					<span class="circle" aria-hidden="true">
						<span class="icon arrow"></span>
					</span>
					<span class="button-text">The Project</span>
				</button>
			</div>
			<div class="content">
				<h1>Purple<br /><span>Wave</span></h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et fugit alias suscipit quo porro placeat facere illo nisi ullam explicabo accusamus praesentium esse dolorum officiis iure saepe, inventore repudiandae exercitationem!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eum quod consequuntur necessitatibus quam architecto blanditiis rerum, provident qui ducimus totam esse repudiandae? A inventore esse nesciunt deleniti laboriosam
					nemo.
				</p>
				<button class="learn-more" onclick="window.location.href='https://www.freecodecamp.org/'">
					<span class="circle" aria-hidden="true">
						<span class="icon arrow"></span>
					</span>
					<span class="button-text">Learn More</span>
				</button>
			</div>
			<!-- <div class="content" id="">
				<h1>Tosca<br /><span>Network</span></h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et fugit alias suscipit quo porro placeat facere illo nisi ullam explicabo accusamus praesentium esse dolorum officiis iure saepe, inventore repudiandae exercitationem!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eum quod consequuntur necessitatibus quam architecto blanditiis rerum, provident qui ducimus totam esse repudiandae? A inventore esse nesciunt deleniti laboriosam
					nemo.
				</p>
				<button class="learn-more">
					<span class="circle" aria-hidden="true">
						<span class="icon arrow"></span>
					</span>
					<span class="button-text">Learn More</span>
				</button>
			</div> -->
			<div class="content">
				<h1>Purple<br /><span>Network</span></h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et fugit alias suscipit quo porro placeat facere illo nisi ullam explicabo accusamus praesentium esse dolorum officiis iure saepe, inventore repudiandae exercitationem!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eum quod consequuntur necessitatibus quam architecto blanditiis rerum, provident qui ducimus totam esse repudiandae? A inventore esse nesciunt deleniti laboriosam
					nemo.
				</p>
				<button class="learn-more" onclick="window.location.href='https://www.freecodecamp.org/'">
					<span class="circle" aria-hidden="true">
						<span class="icon arrow"></span>
					</span>
					<span class="button-text">Learn More</span>
				</button>
			</div>
			<div class="content">
				<h1>Blue<br /><span>Dimension</span></h1>
				<p>
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et fugit alias suscipit quo porro placeat facere illo nisi ullam explicabo accusamus praesentium esse dolorum officiis iure saepe, inventore repudiandae exercitationem!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, eum quod consequuntur necessitatibus quam architecto blanditiis rerum, provident qui ducimus totam esse repudiandae? A inventore esse nesciunt deleniti laboriosam
					nemo.
				</p>
				<button class="learn-more" onclick="window.location.href='https://www.freecodecamp.org/'">
					<span class="circle" aria-hidden="true">
						<span class="icon arrow"></span>
					</span>
					<span class="button-text">Learn More</span>
				</button>
			</div>
			<div class="media-icons">
				<a href="https://github.com/MhdFarhanLubis/computer-os-project" target="_blank"><i class="fab fa-github"></i></a>
				<a href="#"><i class="fab fa-instagram"></i></a>
				<a href="#"><i class="fab fa-linkedin"></i></a>
			</div>
			<div class="slider-navigation">
				<div class="nav-btn active"></div>
				<div class="nav-btn"></div>
				<!-- <div class="nav-btn"></div> -->
				<div class="nav-btn"></div>
				<div class="nav-btn"></div>
			</div>
		</section>
	</body>
	<script src={% static '/scripts/script.js' %} type="text/javascript"></script>
</html>
