{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>{{ title }}</title>
		{% include 'components/css_link.html' %} {% block head %} {% endblock head %}
	</head>

	<body class="d-flex flex-column">
		<header>{% include 'components/nav.html' %}</header>

		<main class="mt-5 mb-5">{% block main %} {% endblock main %}</main>

		<footer class="footer mt-auto py-2 text-info">{% include 'components/footer.html' %}</footer>

		{% include 'components/js_scripts.html' %}
	</body>
</html>
