{% extends "../base.html" %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
{% endblock head %} {% block main %}

<div class="container bootstrap">
	<section id="team" class="white-bg padding-top-bottom">
		<div class="container bootstrap">
			<h1 class="section-title text-center page-title">Meet our team</h1>
			<p class="section-description text-center">We are a small team with great skills. See the faces behind the lines of code.</p>
			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb fade-right in">
					<img class="img-responsive img-center img-thumbnail img-rounded" src="https:/.com/img/Content/avatar/avatar7.png" alt="" />
					<h4>John Doe</h4>
					<p class="title">Lead Designer &amp; Founder</p>
				</div>
				<div class="col-sm-7">
					<div class="details">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<ul class="social-content">
							<li>
								<a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-twitter fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-facebook fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-linkedin fa-fw"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row member-content">
				<div class="col-sm-3 col-sm-push-8 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-rounded" src="https:/.com/img/Content/avatar/avatar6.png" alt="" />
					<h4>John Doe</h4>
					<p class="title">Designer</p>
				</div>
				<div class="col-sm-7 col-sm-pull-2">
					<div class="details">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<ul class="social-content">
							<li>
								<a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-twitter fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-facebook fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-linkedin fa-fw"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row member-content">
				<div class="col-sm-3 col-sm-offset-1 member-thumb">
					<img class="img-responsive img-center img-thumbnail img-rounded" src="https:/.com/img/Content/avatar/avatar1.png" alt="" />
					<h4></h4>
					<p class="title">Lead Developer</p>
				</div>
				<div class="col-sm-7">
					<div class="details">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
						<ul class="social-content">
							<li>
								<a href="mailto:mail@example.com"><i class="fa fa-envelope fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-twitter fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-facebook fa-fw"></i></a>
							</li>
							<li>
								<a href="#link"><i class="fa fa-linkedin fa-fw"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock main %}
