{% extends '../base.html' %} {% block head %} {% endblock head %} {% block main %}

<div id="program-content" class="container bg-info text-white rounded p-5">
	<h1><strong>Computer Price Check</strong></h1>
	<hr />
	<form method="post" action="{% url 'program' %}">
		{% csrf_token %}

		<label for="vga" class="fw-bold text-center">VGA</label>
		<hr>
		<select name="vga" class="form-select">
			<option selected">Choose your VGA</option>
			<option value="GTX 1050">GTX 1050</option>
			<option value="GTX 1050 TI">GTX 1050 TI</option>
			<option value="GTX 1650">GTX 1650</option>
			<option value="GTX 1660">GTX 1660</option>
			<option value="GTX 1660 SUPER">GTX 1660 SUPER</option>
			<option value="GTX 1660 TI">GTX 1660 TI</option>
			<option value="RTX 2060">RTX 2060</option>
			<option value="RTX 2060 SUPER">RTX 2060 SUPER</option>
			<option value="RTX 2070">RTX 2070</option>
			<option value="RTX 2070 SUPER">RTX 2070 SUPER</option>
			<option value="RTX 2080">RTX 2080</option>
			<option value="RTX 2080 SUPER">RTX 2080 SUPER</option>
			<option value="RTX 2080 TI">RTX 2080 TI</option>
			<option value="RTX 3060">RTX 3060</option>
			<option value="RTX 3060 TI">RTX 3060 TI</option>
			<option value="RTX 3070">RTX 3070</option>
			<option value="RTX 3070 TI">RTX 3070 TI</option>
			<option value="RTX 3080">RTX 3080</option>
			<option value="RTX 3080 TI">RTX 3080 TI</option>
			<option value="RTX 3090">RTX 3090</option>
			<option value="RTX 3090 TI">RTX 3090 TI</option>
			<option value="RTX 3060">RTX 3060</option>
			<option value="RTX 3060 TI">RTX 3060 TI</option>
		</select>
		<br />
		<br />

		<label for="ram" class="fw-bold text-center">RAM</label>
		<hr>
		<select name="ram" class="form-select">
			<option selected">Choose your RAM</option>
			<option value="8 GB">8 GB</option>
			<option value="16 GB">16 GB</option>
			<option value="32 GB">32 GB</option>
			<option value="64 GB">64 GB</option>
		</select>
		<br />
		<br />

		<!-- <label for="hard_drive">Hard Drive:</label>
		<select name="hard_drive">
			<option value="500GB">500GB</option>
			<option value="1TB">1TB</option>
			<option value="2TB">2TB</option>
		</select>
		<br />
		<br />
		<label for="graphics_card">Graphics Card:</label>
		<select name="graphics_card">
			<option value="Integrated">Integrated</option>
			<option value="Dedicated">Dedicated</option>
		</select>
		<br />
		<br /> -->
		<input type="submit" value="Generate the price" />
	</form>

	<div class="container mt-5">
		<h1 class="fw-bold">Price</h1>
		<hr />
		<table class="table">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">VGA</th>
					<th scope="col">RAM</th>
					<!-- <th scope="col">Processor</th>
					<th scope="col">cooling</th>
					<th scope="col">Motherboard</th>
					<th scope="col">psu</th> -->
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1</th>
					<td>{{vga}}</td>
					<td>{{ram}}</td>
					<td>@mdo</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>Jacob</td>
					<td>Thornton</td>
					<td>@fat</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td colspan="2">Larry the Bird</td>
					<td>@twitter</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock main %}
