body {
	background-color: rgba(9, 30, 121, 0.8) !important;
}

/* nav component */
.navbar {
	background: rgb(2, 0, 36);
	background: -moz-linear-gradient(336deg, rgba(2, 0, 36, 1) 0%, rgba(9, 30, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	background: -webkit-linear-gradient(336deg, rgba(2, 0, 36, 1) 0%, rgba(9, 30, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	background: linear-gradient(336deg, rgba(2, 0, 36, 1) 0%, rgba(9, 30, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}

.nav-link:hover {
	font-weight: bold;
	color: #5bc0de;
}
/* nav component end */

/* foooter in base */
footer {
	background: rgb(2, 0, 36);
	background: -moz-linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(9, 30, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	background: -webkit-linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(9, 30, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	background: linear-gradient(30deg, rgba(2, 0, 36, 1) 0%, rgba(9, 30, 121, 1) 50%, rgba(0, 212, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
/* foooter in base end */

/* footer component */
.footer-content a {
	color: rgba(9, 30, 121, 1);
	text-decoration: none;
}
/* footer component end */

/* index page */
#svg-container {
	width: 35% !important;
	top: 80px !important;
	z-index: 100;
}

/* tech stack */
#box {
	width: 150px;
	height: 150px;
	color: #fff;
	border-radius: 5px;
	padding: auto;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow: 10px 11px 0px 0px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 10px 11px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 11px 0px 0px rgba(0, 0, 0, 1);
	background: linear-gradient(30deg, rgba(9, 30, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
	z-index: 1;
}
#box img {
	height: 100px;
	z-index: 2;
	margin: 17%;
}

/* index page end */

/* history page */
#history-content,
#program-content,
#about-content {
	margin-top: 90px;
	box-shadow: 10px 11px 0px 0px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 10px 11px 0px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 11px 0px 0px rgba(0, 0, 0, 1);
}
/* tech stack end */

/* about page */

/* about page end */
